<p id="notice"><%= notice %></p>

<h1>Coversations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coversations.each do |coversation| %>
      <tr>
        <td><%= coversation.title %></td>
        <td><%= coversation.description %></td>
        <td><%= link_to 'Show', coversation %></td>
        <td><%= link_to 'Edit', edit_coversation_path(coversation) %></td>
        <td><%= link_to 'Destroy', coversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coversation', new_coversation_path %>
